.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 40px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
